

{% extends 'sisar/base.html' %}

{% block content %}
<table class="table table-sm">

<form action="{% url 'listar_por_falta'  %}" method="post">
{% csrf_token %}
	<tr>
		<th>Selecione a Professor</th>
		<td>
			<select name="idprofessor" class="custom-select">
				{% for professor in listar_professores%}
				  	<option value="{{professor.id}}">{{professor.nome}}</option>
				{% endfor %}
			</select>
		</td>
		<th>Selecione a Disciplina</th>
		<td>
			<select name="iddisciplina" class="custom-select">
				{% for disciplina in listar_disciplinas%}
				  	<option value="{{disciplina.id}}">{{disciplina.nome}}</option>
				{% endfor %}
			</select>
		</td>
		<td><input type="submit"  class="btn btn-lg btn-info" value="Filtrar" /></td>
	</tr>
</form>
</table>
{% endblock %}
