{% extends 'sisar/base.html' %}

{% block content %}

<h2>SisAR CACOR - Sistema de Reposição e Antecipação de Aulas do Campus Corrente</h2>

<p>O sistema tem o objetivo automatizar o controle das faltas, reposições e antecipações dos 
professores do campus, otimizando o serviço feito pelo setor de controle de disciplina, além 
resguardar judicialmente e juridicamente os professores e técnicos.</p>

<p>O sistema é fruto de um projeto de ensino com alguns alunos do terceiro ano de informática de 2017 que realizava uma análise dos setores da instituição aplicando as técnicas de desenvolvimento ministradas no curso de Python e Django.  </p>


{% endblock %}